<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Web Based Editor"
            extensions="mpe"
            icon="icons/icon.png"
            class="org.wso2.developerstudio.webeditor.core.SampleTextAreaWebEditor"
            id="org.wso2.developerstudio.webeditor">
      </editor>
   </extension>
</plugin>
